.form {
  max-width: 288px;
  width: 100%;

  @media (min-width: @tablet-width) {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &--modal {
    @media (min-width: @tablet-width) {
      max-width: 270px;

      & .form__input-block {
        width: 100%;
        max-width: 100%;
      }

      & .form__btn {
        width: 176px;
        margin: auto;
      }
    }
  }
}

.form__input {
  width: 100%;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid @border;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: @input_color;
  outline: none;

  &::placeholder {
    color: @input_color;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: @tablet-width) {
    width: 269px;
  }
}

.form__input-prefix {
  display: block;
  position: absolute;
  width: 19px;
  height: 20px;
  top: calc(50% - 10px);
  left: 26px;
  font-size: 14px;
  line-height: 20px;
  color: @input_color;
  z-index: 2;
}

.form__btn {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 250px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    width: 176px;
  }
}

.form__input-block {
  position: relative;
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    margin-bottom: 25px;
  }

  &--error {
    position: relative;

    &::before {
      content: "Данные не верны";
      position: absolute;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: @main;
      left: 0;
      top: -15px;
    }
  }

  &--error .form__input {
    border: 1px solid @main;
    border-radius: 0;
  }
}

.form__input--phone {
  padding: 15px 15px 15px 50px;
  position: relative;
}

.form__input-block--phone::after {
  content: "*";
  position: absolute;
  top: 7px;
  left: 15px;
  color: @main;
  font-size: 17px;
  line-height: 21px;
  font-weight: 700;
}
