.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.page-header__phone {
    display: none;
}

.page-header__logo {
    margin-left: 16px;
}