// Colors

@dark: #2C2E3F;
@very_dark: #141517;
@light_dark: #141517B2;
@main: #FE7865;
@main_light: #FE786550;

@hover: #F17D4B;
@white: #ffffff;
@black: #000000;
@lighttext: #14151780;

@text_light: #2c2e3fb3;
@border_light: #2c2e3f4d;
@background_light: #FBF8F8;
@background_hover: #14151799;

@input_color: #48494D;
@nav_item_color: #48494D;
@border: #D7D9DF;

// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;


